body {
  font-family: Roboto, Arial;
}

.topnav {
  overflow: hidden;
  background-color: #ddd;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.topnav #myLinks {
  display: none;
  text-align: center;
}

.topnav a {
  color: rgb(202, 142, 31);
  padding: 24px 26px;
  text-decoration: none;
  font-size: 24px;
  display: block;
}

.topnav a.icon {
  background: #ddd;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 24px;
  text-align: center;
  color: rgb(202, 142, 31);
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #ddd;
  color: black;
}

.home-run {
  height: 68px;
  margin: 0;
}

@media (min-width: 821px) {
  .topnav {
    display: none;
  }
}

@media (max-width: 720px) {
  .topnav a {
    font-size: 22px;
  }
}